<section>
    <div>
        <ul>
          <li>
            <h3><%= mensaje.nombre %></h3>
            <p><%= mensaje.categoria %></p>
            <p><%= mensaje.precio %></p>
          </li>
        </ul>
    </div>
</section>